body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    border-radius: 20px;
    height: 450px;
    width: 600px;
    background-color: white;
}

.image img {
    width: 300px;
    height: auto;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text {
    padding: 30px;
}

h1, p {
    color: hsl(212, 21%, 14%);
}

.category {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Fraunces', serif;
    color:hsl(212, 21%, 14%);
}

p {
    color:hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

button {
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.attribution {
    margin: 0 auto;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark green: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px
*/