body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: 450px;
    width: 600px;
}

.desktop {
    width: 300px;
    height: auto;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mobile {
    width: 350px;
    object-fit: contain;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text {
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-size: 32px;
}

.category {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: 'Fraunces', serif;
    color:hsl(212, 21%, 14%);
}

.description {
    color:hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

.price {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.big {
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin: 0;
}

.small {
    color:hsl(212, 21%, 14%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: line-through;
}

button {
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border: none;
    gap: 10px;
}

.attribution {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media all and (min-width: 376px) {
    .mobile {
        display: none;
    }
}

@media all and (max-width: 375px) {
    body {
        margin: 60px 0px;
    }

    main {
        flex-direction: column;
        width: 350px;
        height: 780px;
    }

    .desktop {
        display: none;
    }

    .text {
        width: 350px;
        border-radius: 0 0 10px 10px;
    }
}

/*
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark green: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px
*/